body {
  font-family: 'Arial Rounded MT Bold', Courier;
}

@font-face {
  font-family: arial rounded mt bold;
  font-style:normal;
  font-weight:400;
  src:local('Arial Rounded MT Bold'),url(https://fonts.cdnfonts.com/s/13381/ARLRDBD_0.woff) format('woff')
}